# Fake News Detection

### This project focuses on developing a deep learning model to classify news articles as real or fake.

### Importing libraries

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### Loading dataset

In [8]:
true = pd.read_csv('true.csv')
fake = pd.read_csv('fake.csv')

### Data exploration

In [11]:
true.isna().sum()

title      0
text       0
subject    0
date       0
dtype: int64

In [13]:
fake.isna().sum()

title      0
text       0
subject    0
date       0
dtype: int64

In [15]:
true.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

In [17]:
fake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

In [19]:
true.drop_duplicates(inplace=True)

In [21]:
fake.drop_duplicates(inplace=True)

In [23]:
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [25]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [27]:
true['Class']="true"
fake['Class']="fake"

### Merging the datasets

In [30]:
df = pd.concat([true,fake], ignore_index=True)

In [32]:
df

,title,text,subject,date,Class
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",true
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",true
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",true
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",true
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",true
...,...,...,...,...,...
44684,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",fake
44685,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",fake
44686,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",fake
44687,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",fake
44688,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",fake

In [34]:
df.isna().sum()

title      0
text       0
subject    0
date       0
Class      0
dtype: int64

### Label Encoder

In [37]:
from sklearn.preprocessing import LabelEncoder

In [39]:
le = LabelEncoder()

In [45]:
df['Class'] = le.fit_transform(df['Class'])

In [47]:
df

,title,text,subject,date,Class
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1
...,...,...,...,...,...
44684,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
44685,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
44686,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
44687,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
44688,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [49]:
df = pd.DataFrame(df)

In [51]:
df ['subject_encoded']= le.fit_transform(df['subject'])

In [57]:
# Convert 'date' to datetime with specified format
df['date'] = df['date'].str.strip()
df['date'] = pd.to_datetime(df['date'], format='%B %d, %Y', errors='coerce')
df['year'] = df['date'].dt.year

In [59]:
df

,title,text,subject,date,Class,subject_encoded,year
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,2017-12-31,1,6,2017.0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,2017-12-29,1,6,2017.0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,2017-12-31,1,6,2017.0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,2017-12-30,1,6,2017.0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,2017-12-29,1,6,2017.0
...,...,...,...,...,...,...,...
44684,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,2016-01-16,0,1,2016.0
44685,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,2016-01-16,0,1,2016.0
44686,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,2016-01-15,0,1,2016.0
44687,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,2016-01-14,0,1,2016.0
44688,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,2016-01-12,0,1,2016.0

In [61]:
df.isna().sum()

title                  0
text                   0
subject                0
date               11610
Class                  0
subject_encoded        0
year               11610
dtype: int64

### Drop Null values

In [64]:
df.dropna(inplace=True)

In [66]:
df

,title,text,subject,date,Class,subject_encoded,year
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,2017-12-31,1,6,2017.0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,2017-12-29,1,6,2017.0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,2017-12-31,1,6,2017.0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,2017-12-30,1,6,2017.0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,2017-12-29,1,6,2017.0
...,...,...,...,...,...,...,...
44684,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,2016-01-16,0,1,2016.0
44685,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,2016-01-16,0,1,2016.0
44686,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,2016-01-15,0,1,2016.0
44687,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,2016-01-14,0,1,2016.0
44688,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,2016-01-12,0,1,2016.0

### Drop Date column

In [79]:
df.drop('date', axis=1, inplace=True)
df

,title,text,subject,Class,subject_encoded,year
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,1,6,2017.0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,1,6,2017.0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,1,6,2017.0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,1,6,2017.0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,1,6,2017.0
...,...,...,...,...,...,...
44684,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,0,1,2016.0
44685,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,0,1,2016.0
44686,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,0,1,2016.0
44687,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,0,1,2016.0
44688,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,0,1,2016.0

### One Hot encoding and Vectorizer

In [82]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.feature_extraction.text import TfidfVectorizer

In [87]:
vectorizer = TfidfVectorizer(max_features=100)
title_features = vectorizer.fit_transform(df['title']).toarray()
text_features = vectorizer.fit_transform(df['text']).toarray()

#convert the arrays into dataframe
title_features_df = pd.DataFrame(title_features, 
                columns=[f"title_{i}" for i in range(title_features.shape[1])])
text_features_df = pd.DataFrame(text_features,
            columns=[f"text_{i}" for i in range(text_features.shape[1])])

In [89]:
#combining two dataframes
df_combined = pd.concat([df,title_features_df,text_features_df],axis=1)
df_combined

,title,text,subject,Class,subject_encoded,year,title_0,title_1,title_2,title_3,...,text_90,text_91,text_92,text_93,text_94,text_95,text_96,text_97,text_98,text_99
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,1.0,6.0,2017.0,0.0,0.0,0.0,0.000000,...,0.000000,0.024381,0.108463,0.030798,0.077591,0.149892,0.063103,0.061789,0.000000,0.028005
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,1.0,6.0,2017.0,0.0,0.0,0.0,0.000000,...,0.000000,0.000000,0.046641,0.000000,0.020853,0.092080,0.033919,0.132852,0.000000,0.000000
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,1.0,6.0,2017.0,0.0,0.0,0.0,0.000000,...,0.000000,0.000000,0.058330,0.041408,0.026080,0.057579,0.084840,0.027691,0.036328,0.000000
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,1.0,6.0,2017.0,0.0,0.0,0.0,0.000000,...,0.000000,0.042113,0.074939,0.159593,0.033506,0.000000,0.054498,0.035576,0.046672,0.000000
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,1.0,6.0,2017.0,0.0,0.0,0.0,0.000000,...,0.000000,0.042000,0.112105,0.026527,0.016708,0.000000,0.095115,0.017740,0.139640,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33074,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.000000,...,0.069527,0.000000,0.059946,0.000000,0.000000,0.000000,0.065393,0.085376,0.000000,0.000000
33075,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.000000,...,0.062437,0.060505,0.053834,0.000000,0.048138,0.159420,0.039150,0.000000,0.000000,0.000000
33076,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.412492,...,0.052104,0.027541,0.049008,0.000000,0.047476,0.104817,0.109892,0.054287,0.005087,0.047451
33077,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.000000,...,0.142500,0.000000,0.081910,0.000000,0.036622,0.080854,0.089351,0.077770,0.051014,0.052871
33078,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.000000,...,0.022279,0.064769,0.057627,0.027272,0.034354,0.056885,0.083817,0.036477,0.023927,0.000000

In [91]:
df = df_combined

In [93]:
df.drop(['title','text','subject'], axis=1, inplace=True)
df

,Class,subject_encoded,year,title_0,title_1,title_2,title_3,title_4,title_5,title_6,...,text_90,text_91,text_92,text_93,text_94,text_95,text_96,text_97,text_98,text_99
0,1.0,6.0,2017.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.640019,...,0.000000,0.024381,0.108463,0.030798,0.077591,0.149892,0.063103,0.061789,0.000000,0.028005
1,1.0,6.0,2017.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.046641,0.000000,0.020853,0.092080,0.033919,0.132852,0.000000,0.000000
2,1.0,6.0,2017.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.058330,0.041408,0.026080,0.057579,0.084840,0.027691,0.036328,0.000000
3,1.0,6.0,2017.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.042113,0.074939,0.159593,0.033506,0.000000,0.054498,0.035576,0.046672,0.000000
4,1.0,6.0,2017.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.042000,0.112105,0.026527,0.016708,0.000000,0.095115,0.017740,0.139640,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33074,NaN,NaN,NaN,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.069527,0.000000,0.059946,0.000000,0.000000,0.000000,0.065393,0.085376,0.000000,0.000000
33075,NaN,NaN,NaN,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.062437,0.060505,0.053834,0.000000,0.048138,0.159420,0.039150,0.000000,0.000000,0.000000
33076,NaN,NaN,NaN,0.0,0.0,0.0,0.412492,0.0,0.0,0.000000,...,0.052104,0.027541,0.049008,0.000000,0.047476,0.104817,0.109892,0.054287,0.005087,0.047451
33077,NaN,NaN,NaN,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.142500,0.000000,0.081910,0.000000,0.036622,0.080854,0.089351,0.077770,0.051014,0.052871
33078,NaN,NaN,NaN,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.022279,0.064769,0.057627,0.027272,0.034354,0.056885,0.083817,0.036477,0.023927,0.000000

In [95]:
df.isna().sum()

Class              2544
subject_encoded    2544
year               2544
title_0            2544
title_1            2544
                   ...
text_95            2544
text_96            2544
text_97            2544
text_98            2544
text_99            2544
Length: 203, dtype: int64

In [97]:
df.dropna(inplace=True)
df

,Class,subject_encoded,year,title_0,title_1,title_2,title_3,title_4,title_5,title_6,...,text_90,text_91,text_92,text_93,text_94,text_95,text_96,text_97,text_98,text_99
0,1.0,6.0,2017.0,0.0,0.0,0.0,0.0,0.0,0.0,0.640019,...,0.000000,0.024381,0.108463,0.030798,0.077591,0.149892,0.063103,0.061789,0.000000,0.028005
1,1.0,6.0,2017.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.000000,0.046641,0.000000,0.020853,0.092080,0.033919,0.132852,0.000000,0.000000
2,1.0,6.0,2017.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.000000,0.058330,0.041408,0.026080,0.057579,0.084840,0.027691,0.036328,0.000000
3,1.0,6.0,2017.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.042113,0.074939,0.159593,0.033506,0.000000,0.054498,0.035576,0.046672,0.000000
4,1.0,6.0,2017.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.042000,0.112105,0.026527,0.016708,0.000000,0.095115,0.017740,0.139640,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32212,0.0,5.0,2017.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.125279,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.278891
32213,0.0,5.0,2017.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.112814,0.083113,0.000000,0.000000,0.147540
32214,0.0,5.0,2017.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.126922,0.070054,0.000000,0.000000,0.000000,0.000000
32215,0.0,5.0,2017.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.053557,0.043250,0.015392,0.010927,0.055056,0.022791,0.089551,0.087688,0.047933,0.019871
32216,0.0,5.0,2017.0,1.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.209081,0.202613,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

### Spliting the data

In [101]:
X = df.drop('Class', axis=1)
y = df['Class']

In [103]:
X

,subject_encoded,year,title_0,title_1,title_2,title_3,title_4,title_5,title_6,title_7,...,text_90,text_91,text_92,text_93,text_94,text_95,text_96,text_97,text_98,text_99
0,6.0,2017.0,0.0,0.0,0.0,0.0,0.0,0.0,0.640019,0.0,...,0.000000,0.024381,0.108463,0.030798,0.077591,0.149892,0.063103,0.061789,0.000000,0.028005
1,6.0,2017.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.046641,0.000000,0.020853,0.092080,0.033919,0.132852,0.000000,0.000000
2,6.0,2017.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.058330,0.041408,0.026080,0.057579,0.084840,0.027691,0.036328,0.000000
3,6.0,2017.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.042113,0.074939,0.159593,0.033506,0.000000,0.054498,0.035576,0.046672,0.000000
4,6.0,2017.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.042000,0.112105,0.026527,0.016708,0.000000,0.095115,0.017740,0.139640,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32212,5.0,2017.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.125279,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.278891
32213,5.0,2017.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.112814,0.083113,0.000000,0.000000,0.147540
32214,5.0,2017.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.126922,0.070054,0.000000,0.000000,0.000000,0.000000
32215,5.0,2017.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.053557,0.043250,0.015392,0.010927,0.055056,0.022791,0.089551,0.087688,0.047933,0.019871
32216,5.0,2017.0,1.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.209081,0.202613,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [105]:
y.nunique()

2

In [107]:
from sklearn.model_selection import train_test_split

In [109]:
#train test split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [111]:
from sklearn.preprocessing import StandardScaler

In [113]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

### Decision tree

In [117]:
from sklearn.tree import DecisionTreeClassifier

In [119]:
dt = DecisionTreeClassifier()
dt.fit(X_train_scaled,y_train)

DecisionTreeClassifier()

In [121]:
y_pred = dt.predict(X_test_scaled)

In [123]:
y_pred

array([0., 1., 1., ..., 1., 1., 1.])

### Accuracy Score

In [126]:
from sklearn.metrics import accuracy_score

In [130]:
accuracy = accuracy_score(y_test,y_pred)

In [132]:
accuracy

1.0

### CNN

In [137]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv2D,MaxPooling2D,Flatten,Dense,Dropout
from tensorflow.keras.optimizers import Adam

In [141]:
model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train_scaled.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1,activation='sigmoid')
])

D:\Ana\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [143]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [145]:
history = model.fit(X_train_scaled,y_train,epochs=10,batch_size=32,validation_split=0.2)

Epoch 1/10
611/611 ━━━━━━━━━━━━━━━━━━━━ 15s 7ms/step - accuracy: 0.9101 - loss: 0.1962 - val_accuracy: 0.9959 - val_loss: 0.0128
Epoch 2/10
611/611 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.9986 - loss: 0.0050 - val_accuracy: 0.9975 - val_loss: 0.0078
Epoch 3/10
611/611 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 1.0000 - loss: 5.8986e-04 - val_accuracy: 0.9973 - val_loss: 0.0065
Epoch 4/10
611/611 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 1.0000 - loss: 1.8335e-04 - val_accuracy: 0.9975 - val_loss: 0.0061
Epoch 5/10
611/611 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 1.0000 - loss: 8.5572e-05 - val_accuracy: 0.9977 - val_loss: 0.0056
Epoch 6/10
611/611 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 1.0000 - loss: 5.0786e-05 - val_accuracy: 0.9977 - val_loss: 0.0055
Epoch 7/10
611/611 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 1.0000 - loss: 3.2917e-05 - val_accuracy: 0.9977 - val_loss: 0.0055
Epoch 8/10
611/611 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 1.0000 - loss: 1.9731e-05 - val_accuracy: 0.9977 - val_loss: 0.0054
Epoch 9/10
611/611 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 1.0000 - loss: 1.3973e-05 - val_accuracy: 0.9977 - val_loss: 0.0053
Epoch 10/10
611/611 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 1.0000 - loss: 9.1203e-06 - val_accuracy: 0.9982 - val_loss: 0.0053

In [147]:
loss,accuracy = model.evaluate(X_test_scaled,y_test)
print(f'Test acuracy :{accuracy:.2f}')

191/191 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.9979 - loss: 0.0071
Test acuracy :1.00

### ANN

In [153]:
model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train_scaled.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1,activation='softmax')
])

D:\Ana\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [155]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [157]:
history1 = model.fit(X_train_scaled,y_train,epochs=10,batch_size=32,validation_split=0.2)

Epoch 1/10

D:\Ana\Lib\site-packages\keras\src\ops\nn.py:545: UserWarning: You are using a softmax over axis -1 of a tensor of shape (None, 1). This axis has size 1. The softmax operation will always return the value 1, which is likely not what you intended. Did you mean to use a sigmoid instead?
  warnings.warn(

611/611 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.6968 - loss: 0.1374 - val_accuracy: 0.6742 - val_loss: 0.0140
Epoch 2/10
611/611 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7004 - loss: 0.0032 - val_accuracy: 0.6742 - val_loss: 0.0080
Epoch 3/10
611/611 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.6963 - loss: 6.1120e-04 - val_accuracy: 0.6742 - val_loss: 0.0061
Epoch 4/10
611/611 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.6982 - loss: 1.6445e-04 - val_accuracy: 0.6742 - val_loss: 0.0063
Epoch 5/10
611/611 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.6961 - loss: 8.5992e-05 - val_accuracy: 0.6742 - val_loss: 0.0062
Epoch 6/10
611/611 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.6981 - loss: 4.8393e-05 - val_accuracy: 0.6742 - val_loss: 0.0063
Epoch 7/10
611/611 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.6978 - loss: 3.1093e-05 - val_accuracy: 0.6742 - val_loss: 0.0063
Epoch 8/10
611/611 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7008 - loss: 1.9674e-05 - val_accuracy: 0.6742 - val_loss: 0.0063
Epoch 9/10
611/611 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.6993 - loss: 1.3463e-05 - val_accuracy: 0.6742 - val_loss: 0.0065
Epoch 10/10
611/611 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.7010 - loss: 8.8902e-06 - val_accuracy: 0.6742 - val_loss: 0.0065

In [159]:
loss,accuracy = model.evaluate(X_test_scaled,y_test)
print(f'Test acuracy :{accuracy:.2f}')

191/191 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.6910 - loss: 0.0072
Test acuracy :0.70